.item {
	margin: 10px;
	border: 1px solid;
	width: 256px;
}

.fiso-toggle-category.selected {
	text-decoration: line-through;
}


.fiso-toggle-category.and.available {
	color: blue;
}

.fiso-toggle-category.or.available {
	color: green;
}