/* Isotope animation */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* Bootstrap example */
body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

.jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}





/* Fisotope example css */
.item {
	margin: 10px;
	padding: 4px;
	list-style-type: none;
}

.fiso-toggle-category.selected {
	text-decoration: line-through;
}

.fiso-toggle-category.and {
	display:none;
}

.fiso-toggle-category.and.available {
	display: block;
}

.selectors li {
	display:inline-block;
	margin: 0px 5px;
}

.item small {
	font-size: 75%;
	line-height: 15px;
	display: block;
	text-align: center;
}

.info-genres .fiso-toggle-category {
	display: none;
	padding-right: 5px;
}

.info-genres .fiso-toggle-category.selected {
	display: inline-block;
	text-decoration: none;
}

.info-genres .fiso-toggle-category.available {
	display: none;
}

.info-genres.and .fiso-toggle-category:after {
	content: " and";
	text-decoration: none;
	color: black;
}

.info-genres.or .fiso-toggle-category:after {
	content: " or";
	text-decoration: none;
	color: black;
}

.info-genres.fiso-selected-0 .fiso-toggle-facet, 
.info-genres.fiso-selected-1.and .fiso-toggle-facet,
.info-genres.fiso-selected-1.or .fiso-toggle-facet{
	display:none;
}

.info-genres .fiso-toggle-category.last-selected:after {
	content: "";
}

#example {
	padding-top: 60px;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

